* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
}

header {
    background-image: url("../images/main_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    padding: 2em;
}

nav {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 58px;
    width: 300px;
}

.bold {
    font-weight: 600;
}

nav .menu ul {
    display: flex;
    flex-direction: row;
}

nav .menu ul li {
    list-style-type: none;
    margin-right: 20px;
}

nav .menu ul li a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

#blurb {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 10px;
    left: 30px;
}

#blurb h1 {
    text-transform: uppercase;
    font-size: 96px;
    font-weight: 800;
    color: #88EBF2;
}

#blurb h3 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.84em;
}

main {
    background-color: #DDD9D8;
}

#services {
    width: 960px;
    padding: 4em 0;
    margin: 0 auto;
}

#services .section-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 2.25em;
    padding-bottom: 3.125em;
}

#services .section-title h2 {
    text-transform: uppercase;
    letter-spacing: 1em;
    font-size: 24px;
    font-weight: 400;
}

#services .card-container {
    display: flex;
    flex-wrap: wrap;
}

#services .card-container.clearfix {
    overflow: hidden;
}

#services .card-container .card {
    height: auto;
    width: 300px;
    float: left;
    margin: 0 15px;
    padding: 1em 0 2.150em 0;
}

#services .card-container .card:first-child {
    margin-left: 0;
}

#services .card-container .card:nth-child(3) {
    margin-right: 0;
}

#services .card-container .card img {
    min-height: auto;
    max-width: 100%;
}

#services .card-container .card h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 5px 0 15px 0;
}

#services .card-container .card p {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

footer {
    color: #008B8B;
    background-color: #88EBF2;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}

footer #footer-content {
    border: 1px solid red;
    width: 960px;
    margin: 0 auto;
    padding: 40px 0;
}

footer #subfooter {
    background-color: #60A3A9;
    color: black;
    padding: 20px 0;
}

footer #subfooter .subfooter-content {
    text-transform: uppercase;
    width: 960px;
    margin: 0 auto;
}

footer #subfooter .subfooter-content.clearfix {
    overflow: hidden;
}

footer #subfooter .subfooter-content .left {
    float: left;
}

footer #subfooter .subfooter-content .right {
    float: right;
}

footer #subfooter .clearfix {
    clear: both;
}

footer #footer-content .card-company-info {
    border: 1px solid red;
    width: 300px;
    float: left;
    margin-right: auto;
}

footer #footer-content .card-company-info p {
    margin: 10px 0;
}

footer #footer-content .card-company-info p:first-of-type {
    font-family: 'Lora', serif;
}

footer #footer-content .card-tagline {
    border: 1px solid red;
}

footer #footer-content .card-tagline .tagline span {
    color: black;
    font-weight: 600;
}


/* footer #footer-content .tagline {
    border: 1px solid red;
    float: left;
}

footer #footer-content .maps {
    border: 1px solid red;
    display: block;
}

footer #footer-content .maps .city-map {
    border: 1px solid red;
}

footer #footer-content .maps .city-map:first-child {
    float: left;
}

footer #footer-content .maps .city-map:nth-child(2) {
    float: right;
}

footer #footer-content .maps .city-map img {
    border: 1px solid black;
}

footer #footer-content .nav-links {
    border: 1px solid red;
}

footer #footer-content .nav-links ul {
    list-style-type: none;
}

footer #footer-content .nav-links ul li {
    display: block;
    float: left;
    margin: 0 10px
}

footer #footer-content .nav-links ul li a {
    color: black;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 16px;
} */